table, td, tc{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  vertical-align: top;
}

.tablebackground{
  background: linear-gradient(45deg, rgba(111, 50, 10, 0.884), rgba(78, 49, 10, 0.225)), url('../../images/retina_wood_@2X.png');
}

table{
  width: 100%
}

.button{
  background: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border: 5px solid blue;
  border-radius: 5px;
  font-family: monospace;
}

.columnHeaders{
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

.tableHolder{
  display: inline-block;
  text-align: center;
  /* width: 60%; */
}

.tilebackground{
  background:linear-gradient(45deg, rgb(111, 50, 10, 0.5), rgb(150, 90, 10, 0.5)), url('../../images/retina_wood_@2X.png');
}

.woodtexture{
  background-image: url('../../images/retina_wood_@2X.png')
  /* background-color: brown; */
}
