.button{
  background: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  border: 2px solid blue;
  border-radius: 2px;
  font-family: monospace;
}
/* 
allpics: Array(4) [ "NONE1626232674327pic0.jpeg", "NONE1626232674327pic1.jpeg", "NONE1626232674327pic2.jpeg", … ]
author: ""
bookedition: "NONE"
condition: ""
currentcopyright: "NONE"
isbn: "NONE"
picnameback: "NONE1626232674327pic0.jpeg"
picnamefront: "NONE1626232674327pic0.jpeg"
publisher: "NONE"
storyinfo: ""
subtitle: "NONE"
title: "NONE"
uniqueid: "NONE1626232674327"
userprice: ""
usershipping: "" */
/* 

titlebox

title
subtitle
author

erratabox

publisher
bookedition
current copyright
isbn

mainpics

picfront
picback

piccarousel
allpics

blurbsbox

storyinfo
condition

pricebox

shipping price
book price */

.wrapper {
  display: grid;  
  height: calc(100vh - 30px);
  grid-gap: 0px;
  min-height: 100vh;
  max-width: 100vw;
  /* grid-template-rows: 20vw; */
  grid-auto-rows: 35px;
  grid-template-columns: auto 18vw 18vw 18vw 18vw 18vw auto;
  grid-template-areas:
            "sidemarginl ... ...      ...      ...           ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... ...      ...      ...           ... sidemarginr"  
            "sidemarginl ... erratbox erratbox erratbox      ... sidemarginr"           
            "sidemarginl ... ...      ...      ...           ... sidemarginr"           
            "sidemarginl mainpics mainpics synopsisb pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"  
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"           
            "sidemarginl mainpics mainpics synopsisb condition condition sidemarginr"                
            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"            "sidemarginl allpicsb allpicsb synopsisb condition condition sidemarginr"
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"           
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"           
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr";           
  color: #444;
}

.roundedcontainer{
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;  
  color: rgb(0, 0, 0);
  background: rgb(153, 142, 119);
  height: calc(100% - 34px);
  width:  calc(100% - 34px);
}

.fixedcontainer{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidemarginl{
  grid-area: sidemarginl;
  background: rgb(43, 43, 59);
}
.sidemarginr{
  grid-area: sidemarginr;
  background: rgb(43, 43, 59);
}

.allpicsb{
  grid-area: allpicsb;
  position: relative;
  /* background: rgb(19, 250, 31); */
}

.artistbox{
  grid-area: artistbox;
  position: relative;
  /* background: rgb(24, 111, 151); */
}

.synopsisb{
  grid-area: synopsisb;
  position: relative;
  /* background: rgb(52, 34, 153); */
}

.condition{
  grid-area: condition;
  position: relative;
  /* background: rgb(26, 218, 202); */
}

.pricesbox{
  grid-area: pricesbox;
  position: relative;
  /* background: teal; */
}

.erratbox{
  grid-area: erratbox;
  background: rgb(182, 86, 8);
  border: 2px solid black;
  color: black;
  border-radius: 5px;
} 

.titlebox{
  grid-area: titlebox;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  background: rgb(151, 58, 4);
} 

.mainpics{
  grid-area: mainpics;
  position: relative;
  /* background: green; */
}