table, td, tc{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  vertical-align: top;
}

table{
  width: 100%
}

.button{
  background: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border: 5px solid blue;
  border-radius: 5px;
  font-family: monospace;
}

.columnHeaders{
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

.tableHolder{
  display: inline-block;
  text-align: center;
  /* width: 60%; */
}
