.button{
  background: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  border: 2px solid blue;
  border-radius: 2px;
  font-family: monospace;
}
/* 
allpics: Array(4) [ "NONE1626232674327pic0.jpeg", "NONE1626232674327pic1.jpeg", "NONE1626232674327pic2.jpeg", … ]
author: ""
bookedition: "NONE"
condition: ""
currentcopyright: "NONE"
isbn: "NONE"
picnameback: "NONE1626232674327pic0.jpeg"
picnamefront: "NONE1626232674327pic0.jpeg"
publisher: "NONE"
storyinfo: ""
subtitle: "NONE"
title: "NONE"
uniqueid: "NONE1626232674327"
userprice: ""
usershipping: "" */
/* 

titlebox

title
subtitle
author

erratabox

publisher
bookedition
current copyright
isbn

mainpics

picfront
picback

piccarousel
allpics

blurbsbox

storyinfo
condition

pricebox

shipping price
book price */
/* 
.scrollcarousel {
  animation-duration: 20s;
  animation-name: scrollcarouselanim;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scrollcarousel:hover{
  animation-name: none;
}

@keyframes scrollcarouselanim {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
} */

.wrapper {
  display: grid;  
  height: calc(100vh - 30px);
  grid-gap: 0px;
  min-height: 100vh;
  max-width: 100vw;
  /* grid-template-rows: 20vw; */
  grid-auto-rows: 35px;
  grid-template-columns: auto 18vw 18vw 18vw 18vw 18vw auto;
  grid-template-areas:
            "sidemarginl ... ...      ...      ...           ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... titlebox titlebox titlebox      ... sidemarginr"  
            "sidemarginl ... ...      ...      ...           ... sidemarginr"  
            "sidemarginl ... erratbox erratbox erratbox      ... sidemarginr"           
            "sidemarginl ... ...      ...      ...           ... sidemarginr"           
            "sidemarginl mainpics mainpics storyinfob pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob pricesbox pricesbox sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"  
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"           
            "sidemarginl mainpics mainpics storyinfob condition condition sidemarginr"                
            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"           
            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"            "sidemarginl allpicsb allpicsb storyinfob condition condition sidemarginr"
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"           
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"           
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"
            "sidemarginl allpicsb allpicsb artistbox artistbox artistbox sidemarginr"
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr"   
            "sidemarginl ...      ...      artistbox artistbox artistbox sidemarginr";    
  color: #444;
  text-align: center;
}

.roundedcontainer{
  display: inline-block;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;  
  color: rgb(0, 0, 0);
  background: rgb(153, 142, 119);
  height: calc(100% - 34px);
  width:  calc(100% - 34px);
  overflow-y: auto;
}

.fixedcontainer{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*pattern.monster*/

.wavespattern{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='35.584' height='30.585' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(9, 78%, 32%, 1)'/><path d='M36.908 9.243c-5.014 0-7.266 3.575-7.266 7.117 0 3.376 2.45 5.726 5.959 5.726 1.307 0 2.45-.463 3.244-1.307.744-.811 1.125-1.903 1.042-3.095-.066-.811-.546-1.655-1.274-2.185-.596-.447-1.639-.894-3.162-.546-.48.1-.778.58-.662 1.06.1.48.58.777 1.06.661.695-.149 1.274-.066 1.705.249.364.265.546.645.562.893.05.679-.165 1.308-.579 1.755-.446.48-1.125.744-1.936.744-2.55 0-4.188-1.538-4.188-3.938 0-2.466 1.44-5.347 5.495-5.347 2.897 0 6.008 1.888 6.388 6.058.166 1.804.067 5.147-2.598 7.034a.868.868 0 00-.142.122c-1.311.783-2.87 1.301-4.972 1.301-4.088 0-6.123-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.517-4.518-4.094 0-6.439 1.676-8.479 3.545.227-1.102.289-2.307.17-3.596-.496-5.263-4.567-7.662-8.159-7.662-5.015 0-7.265 3.574-7.265 7.116 0 3.377 2.45 5.727 5.958 5.727 1.307 0 2.449-.463 3.243-1.308.745-.81 1.126-1.903 1.043-3.095-.066-.81-.546-1.654-1.274-2.184-.596-.447-1.639-.894-3.161-.546-.48.1-.778.58-.662 1.06.099.48.579.777 1.059.66.695-.148 1.275-.065 1.705.25.364.264.546.645.563.893.05.679-.166 1.307-.58 1.754-.447.48-1.125.745-1.936.745-2.549 0-4.188-1.539-4.188-3.939 0-2.466 1.44-5.345 5.495-5.345 2.897 0 6.008 1.87 6.389 6.057.163 1.781.064 5.06-2.504 6.96-1.36.864-2.978 1.447-5.209 1.447-4.088 0-6.124-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.516-4.518v1.787c4.088 0 6.123 1.953 8.275 4.022 2.317 2.218 4.7 4.518 9.516 4.518 4.8 0 7.2-2.3 9.517-4.518 2.151-2.069 4.187-4.022 8.275-4.022s6.124 1.953 8.275 4.022c2.318 2.218 4.701 4.518 9.517 4.518 4.8 0 7.2-2.3 9.516-4.518 2.152-2.069 4.188-4.022 8.276-4.022s6.123 1.953 8.275 4.022c2.317 2.218 4.7 4.518 9.517 4.518v-1.788c-4.088 0-6.124-1.952-8.275-4.021-2.318-2.218-4.701-4.518-9.517-4.518-4.103 0-6.45 1.683-8.492 3.556.237-1.118.304-2.343.184-3.656-.497-5.263-4.568-7.663-8.16-7.663z'  stroke-width='1' stroke='none' fill='hsla(233, 53%, 17%, 0.24)'/><path d='M23.42 41.086a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.38-4.187-3.492-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.265 1.936-.745.414-.447.63-1.076.58-1.755-.017-.248-.2-.629-.547-.893-.43-.315-1.026-.398-1.704-.249a.868.868 0 01-1.06-.662.868.868 0 01.662-1.059c1.523-.348 2.566.1 3.161.546.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm0-30.585a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.381-4.187-3.493-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.266 1.936-.746.414-.446.629-1.075.58-1.754-.017-.248-.2-.629-.547-.894-.43-.314-1.026-.397-1.705-.248A.868.868 0 0117.014.77a.868.868 0 01.662-1.06c1.523-.347 2.566.1 3.161.547.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm29.956 1.572c-4.8 0-7.2-2.3-9.517-4.518-2.151-2.069-4.187-4.022-8.275-4.022S29.46 5.486 27.31 7.555c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518C6.124 5.486 4.088 3.533 0 3.533s-6.124 1.953-8.275 4.022c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518-2.152-2.069-4.188-4.022-8.276-4.022V1.746c4.8 0 7.2 2.3 9.517 4.518 2.152 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.276-4.022C-7.2 4.046-4.816 1.746 0 1.746c4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.318-2.218 4.7-4.518 9.517-4.518 4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.317-2.218 4.7-4.518 9.517-4.518v1.787c-4.088 0-6.124 1.953-8.275 4.022-2.317 2.234-4.717 4.518-9.517 4.518z'  stroke-width='1' stroke='none' fill='hsla(211, 34%, 41%, 0.56)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.leafpattern{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='44.921' height='50' patternTransform='scale(2) rotate(105)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(354,92.7%,21.6%,1)'/><path d='M.525-21.191v5.166c0 1.4.525 2.714 1.489 3.677L17.775 3.416c2.014-2.014 2.015-5.256.088-7.357L.525-21.191zm43.696 0L27.059-3.941c-2.102 2.101-2.102 5.343-.088 7.357l15.761-15.764c.964-.963 1.489-2.276 1.489-3.677v-5.166zM.525-12.171v4.816c0 1.313.525 2.538 1.4 3.414L13.573 7.705a4.918 4.918 0 000-6.83L.525-12.172zm43.871 0L31.348.874c-2.014 1.926-2.014 4.904 0 6.83L42.994-3.94a4.833 4.833 0 001.402-3.414v-4.817zM.526-3.942V0c0 1.05.438 2.015 1.138 2.803l8.406 8.406c1.576-1.489 1.576-4.03 0-5.605L.525-3.941zm43.695 0l-9.545 9.459c-1.576 1.576-1.576 4.114 0 5.603l8.406-8.406c.788-.7 1.139-1.664 1.139-2.715v-3.941zM.525 3.329v4.464c0 1.226.437 2.364 1.313 3.152l4.203 4.203a4.44 4.44 0 000-6.304L.525 3.328zm43.696 0l-5.518 5.515a4.44 4.44 0 000 6.304l4.203-4.203c.876-.788 1.315-1.926 1.315-3.152V3.328zM-.264 10.944l-1.925 1.928c-1.752 1.751-1.752 4.64 0 6.39l2.101 2.102 1.926-1.926c1.751-1.838 1.751-4.64 0-6.392l-2.102-2.102zm45.01 0l-1.926 1.928c-1.751 1.751-1.751 4.64 0 6.39l2.102 2.102 1.926-1.926c1.751-1.838 1.751-4.64 0-6.392l-2.102-2.102zM.613 28.81v5.166c0 1.4.525 2.714 1.489 3.677l15.761 15.764c1.927-2.014 1.927-5.343 0-7.357L.613 28.809zm43.696 0l-17.25 17.25a5.081 5.081 0 000 7.357L42.82 37.652c.964-.963 1.489-2.276 1.489-3.677v-5.166zM.525 37.829v4.816c0 1.313.525 2.538 1.4 3.414l11.647 11.646c1.84-1.926 1.84-4.991 0-6.83L.525 37.828zm43.871 0L31.348 50.874c-2.014 1.839-2.014 4.904 0 6.83L42.994 46.06a4.833 4.833 0 001.402-3.414v-4.817zM.526 45.972v3.94c0 1.05.438 2.101 1.138 2.802l8.406 8.406c1.576-1.489 1.576-4.027 0-5.603L.525 45.973zm43.695 0l-9.545 9.545c-1.576 1.576-1.576 4.114 0 5.603l8.406-8.406c.788-.7 1.139-1.752 1.139-2.803v-3.94z'  stroke-width='5' stroke='none' fill='hsla(231,81.8%,6.5%,1)'/><path d='M23.03 3.766v5.166c0 1.4.524 2.714 1.488 3.677l15.761 15.762c2.102-2.014 2.102-5.253 0-7.267L23.03 3.766zm-1.14.088L4.64 21.104c-2.101 2.014-2.101 5.253 0 7.355l15.762-15.762c.964-.963 1.489-2.276 1.489-3.677V3.854zm-.085 8.931L8.755 25.832c-1.75 1.926-1.75 4.991 0 6.83l11.647-11.646a4.833 4.833 0 001.403-3.414v-4.817zm1.224.088v4.815c0 1.313.527 2.54 1.403 3.416L36.076 32.75c1.927-1.926 1.928-4.992-.086-6.918L23.03 12.873zm-1.138 8.143l-9.545 9.545c-1.576 1.576-1.576 4.114 0 5.603l8.408-8.406c.7-.7 1.137-1.75 1.137-2.801v-3.941zm1.226 0v3.941c0 1.05.35 2.1 1.139 2.8l8.406 8.407c1.576-1.489 1.576-4.027 0-5.603l-9.545-9.545zm-1.226 7.267l-5.516 5.518a4.44 4.44 0 000 6.304l4.203-4.203a4.505 4.505 0 001.313-3.152v-4.467zm1.226 0v4.467c0 1.226.439 2.364 1.315 3.152l4.203 4.203a4.44 4.44 0 000-6.304l-5.518-5.518zm-.787 7.62l-1.928 1.925c-1.751 1.751-1.751 4.641 0 6.393l2.102 2.101 1.928-1.926c1.751-1.75 1.751-4.64 0-6.392l-2.102-2.102z'  stroke-width='5' stroke='none' fill='hsla(358,97.5%,31.2%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.flowerpattern{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(5) rotate(115)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(338,24.4%,91.2%,1)'/><path d='M25 3.95L22.3 9.2c-1.45 2.75-.95 6.15 1.25 8.35L25 19l1.45-1.45c2.15-2.2 2.65-5.6 1.25-8.35zm0 7.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5c0-.85.65-1.5 1.5-1.5zm-13.1.45l.75 5.6c.15 1.15 1 2.05 2.1 2.35l6.8 1.7-1.7-6.8c-.25-1.1-1.2-1.95-2.35-2.1zm26.2 0l-5.6.75c-1.15.15-2.05 1-2.35 2.1l-1.7 6.8 6.8-1.7c1.1-.25 1.95-1.2 2.1-2.35zm-21.4 3.4c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.35.15-.75.4-1s.6-.4 1-.4zm16.55 0c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.15-1-.4s-.4-.6-.4-1c0-.75.6-1.4 1.4-1.4zm4.28 6.179a7.102 7.102 0 00-5.08 2.072L31 25l1.45 1.45c2.2 2.15 5.6 2.65 8.35 1.25l5.25-2.7-5.25-2.7a7.126 7.126 0 00-3.27-.821zm-25.06.035a7.267 7.267 0 00-3.27.787L3.95 25l5.25 2.7c2.75 1.45 6.15.95 8.35-1.25L19 25l-1.45-1.45c-1.374-1.343-3.218-2.043-5.08-2.036zm12.53.685c-.75 0-1.45.301-1.95.801s-.8 1.2-.8 1.95.3 1.45.8 1.95 1.2.8 1.95.8 1.45-.3 1.95-.8.8-1.2.8-1.95-.3-1.45-.8-1.95-1.2-.8-1.95-.8zm12 1.25c.85 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5-1.5-.65-1.5-1.5.7-1.5 1.5-1.5zM13 23.5c.8 0 1.5.65 1.5 1.5s-.7 1.5-1.5 1.5c-.85 0-1.5-.65-1.5-1.5s.7-1.5 1.5-1.5zm8.55 4.95l-6.8 1.7c-1.1.25-1.95 1.2-2.1 2.35l-.75 5.6 5.6-.75c1.15-.15 2.05-1 2.35-2.1zm6.9 0l1.7 6.8c.25 1.1 1.2 1.95 2.35 2.1l5.6.7-.75-5.6c-.15-1.15-1-2.05-2.1-2.35zM25 31l-1.45 1.45c-2.15 2.2-2.65 5.6-1.25 8.35l2.7 5.25 2.7-5.25c1.45-2.75.95-6.15-1.25-8.35zm8.3.85c.75 0 1.4.6 1.4 1.4 0 .4-.15.75-.4 1s-.6.4-1 .4c-.75 0-1.4-.6-1.4-1.4 0-.4.15-.75.4-1s.6-.4 1-.4zm-16.55.05c.4 0 .75.15 1 .4s.4.6.4 1c0 .75-.6 1.4-1.4 1.4-.4 0-.75-.2-1-.4-.25-.25-.4-.6-.4-1 0-.75.6-1.4 1.4-1.4zM25 35.5c.85 0 1.5.7 1.5 1.5 0 .85-.65 1.5-1.5 1.5s-1.5-.7-1.5-1.5.65-1.5 1.5-1.5z'  stroke-width='1' stroke='none' fill='hsla(345,52.1%,86.1%,1)'/><path d='M1 0c.5.9 1.45 1.5 2.55 1.5C4.65 1.5 5.6.9 6.1 0zm42.9 0c.5.9 1.45 1.5 2.55 1.5C47.55 1.5 48.5.9 49 0zM0 1v5.1c.9-.5 1.5-1.45 1.5-2.55C1.5 2.45.9 1.5 0 1zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM0 43.9V49c.9-.5 1.5-1.45 1.5-2.55 0-1.1-.6-2.05-1.5-2.55zm50 0c-.9.5-1.5 1.45-1.5 2.55 0 1.1.6 2.05 1.5 2.55zM3.55 48.5c-1.1 0-2.05.6-2.55 1.5h5.1c-.5-.9-1.45-1.5-2.55-1.5zm42.9 0c-1.1 0-2.05.6-2.55 1.5H49c-.5-.9-1.45-1.5-2.55-1.5z'  stroke-width='1' stroke='none' fill='hsla(351,80.6%,81.8%,1)'/><path d='M11.7 0A28.002 28.002 0 00.05 11.65v1.45c1.3-2.8 3.1-5.4 5.4-7.65A27.64 27.64 0 0113.15 0H11.7zm25.2.05c2.8 1.3 5.4 3.1 7.65 5.4a27.64 27.64 0 015.45 7.7V11.7A28.002 28.002 0 0038.35.05H36.9zm-16.6.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM17.65 3.6a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM12.3 8.9a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM9.45 11.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 14.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 17.05a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM1.5 19.75a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-47 9.4a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm47 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM4.15 31.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm41.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM6.8 34.45a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm36.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM0 36.85v1.45a28.002 28.002 0 0011.65 11.65h1.45c-2.8-1.3-5.4-3.15-7.65-5.4A27.64 27.64 0 010 36.85zm49.95 0a25.563 25.563 0 01-5.4 7.7 27.64 27.64 0 01-7.7 5.45h1.45a28.002 28.002 0 0011.65-11.65v-1.5zm-40.5.3a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm31.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-28.25 2.8a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm25.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-22.75 2.7a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm20.1 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm-17.4 2.65a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm14.7 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zM20.3 47.95a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55zm9.4 0a.55.55 0 00-.55.55.55.55 0 00.55.55.55.55 0 00.55-.55.55.55 0 00-.55-.55z'  stroke-width='1' stroke='none' fill='hsla(340,33.3%,87.6%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.sidemarginl{
  grid-area: sidemarginl;
  background: rgb(43, 43, 59);
}
.sidemarginr{
  grid-area: sidemarginr;
  background: rgb(43, 43, 59);
}

.allpicsb{
  grid-area: allpicsb;
  position: relative;
  /* background: rgb(19, 250, 31); */
}

.artistbox{
  grid-area: artistbox;
  position: relative;
  /* background: rgb(24, 111, 151); */
}

.storyinfob{
  grid-area: storyinfob;
  position: relative;
  /* background: rgb(52, 34, 153); */
}

.condition{
  grid-area: condition;
  position: relative;
  /* background: rgb(26, 218, 202); */
}

.pricesbox{
  grid-area: pricesbox;
  position: relative;
  /* background: teal; */
}

.erratbox{
  grid-area: erratbox;
  background: rgb(182, 86, 8);
  border: 2px solid black;
  color: black;
  border-radius: 5px;
} 

.titlebox{
  grid-area: titlebox;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  background: rgb(151, 58, 4);
} 

.mainpics{
  grid-area: mainpics;
  position: relative;
  /* background: green; */
}