table, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.columnHeaders{
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
}

.tableHolder{
  display: inline-block;
  text-align: center;
  /* width: 60%; */
}
